.site-header {
	line-height: 1.2;

	&__logo {
		img {max-width: 400px; height: auto;}
		@include media-breakpoint-down(sm) {
			display: block;
			text-align: center;
			img {max-width: 100%;}
		}
	}
	&__contacts {
	    padding-top: 1.52rem;
			@include media-breakpoint-down(sm) {
				display: block; 
				width: 100%;
				text-align: center;
				padding-top: 0.52rem;
			}


		&-tel {
			// @include media-breakpoint-down(sm) {display: block; width: 100%;}
	    	font-size: 1.67rem;
			font-weight: bold;
			a {display: block;}
		}

		&-time {
			font-size: 1.1rem;
			line-height: 3rem;
		}
	}
}